<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>67250 lab1</title>
    <meta name="author" content="Jennifer Xie">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jennifer Xie's professional website">
    <title>Your name</title>

</head>
<body style="font-family: Arial;">
    <header>
        <h1>Jennifer Xie</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    
    <div class = "main">
        <h2>Curriculum Vitae</h2>

        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Business Analytics Concentration + CS minor</td>
            </tr>
            <tr>
                <td>DB Schenker TSC</td>
                <td>Demand and Delivery Intern focusing on testing, development and creating user stories for online system</td>
            </tr>
                <td>GLP</td>
                <td>Rotational Intern focusing on client data analysis, market trend prediction and REIT investment appraisal</td>
            <tr>
                <td>Data language and tools</td>
                <td>Java, C, Python, HTML, Power BI, Excel</td>
            </tr>
            <tr>
                <td>Projects</td>
                <td>ESG Research, Big Data Application in Supply Chain, OpenGym App Launch</td>
            </tr>
        </table>

        <p><a href="../static/Resume.pdf" target="_blank">Download my resume (PDF)</a></p>
    </div>

    <footer>
        <p>©2025 designed and coded by Jennifer Xie 🛠️</p>
    </footer>

</body>
</html>