<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>67250 lab1</title>
    <meta name="author" content="Jennifer Xie">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jennifer Xie's professional website">
    <title>Your name</title>

</head>
<body style="font-family: Arial;">
    <header>
        <h1>Jennifer Xie</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    
    <div class = "main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Scuba/Mermaid diving 🧜‍♀️</li>
            <li>Surfing 🏄‍♀️</li>
            <li>Dancing and yoga 🧘‍♀️</li>
            <li>Reading books on business, technology, and personal growth 📚</li>
            <li>Traveling and experiencing different cultures 🌍</li>
            <li>Playing strategy and coop games 🎮</li>
        </ul>
    </div>

    <footer>
        <p>©2025 designed and coded by Jennifer Xie 🛠️</p>
    </footer>

</body>
</html>