<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>67250 lab4</title>
    <meta name="author" content="Jennifer Xie">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jennifer Xie's professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Jennifer Xie</h1>
        <nav>
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link" href="cv.html">See My Resume</a>
            <a class="nav-link" href="contact.html">Contact Me</a>
            <a class="nav-link" href="fun.html">What I do for fun</a>
        </nav>
    </header>
    
    <div class = "main">
        <h2>Curriculum Vitae</h2>

        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Business Analytics Concentration + CS minor</td>
            </tr>
            <tr>
                <td>DB Schenker TSC</td>
                <td>Demand and Delivery Intern focusing on testing, development and creating user stories for online system</td>
            </tr>
            <tr>
                <td>GLP</td>
                <td>Rotational Intern focusing on client data analysis, market trend prediction and REIT investment appraisal</td>
            </tr>
            <tr>
                <td>Programming language</td>
                <td>Java, C, Python, HTML</td>
            </tr>
            <tr>
                <td>Office tools</td>
                <td>PowerBI, Excel</td>
            </tr>
            <tr>
                <td>Projects</td>
                <td>ESG Research, Big Data Application in Supply Chain, OpenGym App Launch</td>
            </tr>
            <tr>
                <td>Clubs</td>
                <td>Chinese Student/Scholar's Association, CMU Business Technology Group</td>
            </tr>
        </table>

        <p><a href="../static/Resume.pdf" target="_blank">Download my resume (PDF)</a></p>
    </div>

    <footer>
        <p id="copyYear"></p>
        <p>designed and coded by Jennifer Xie 🛠️</p>
    </footer>

</body>
</html>