<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>67250 lab1</title>
    <meta name="author" content="Jennifer Xie">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jennifer Xie's professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Jennifer Xie</h1>
        <nav>
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link" href="cv.html">See My Resume</a>
            <a class="nav-link" href="contact.html">Contact Me</a>
            <a class="nav-link" href="fun.html">What I do for fun</a>
        </nav>
    </header>
    
    <div class = "main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Scuba/Mermaid diving 🧜‍♀️</li>
            <li>Surfing 🏄‍♀️</li>
            <li>Dancing and yoga 🧘‍♀️</li>
            <li>Reading books on business, technology, and personal growth 📚</li>
            <li>Traveling and experiencing different cultures 🌍</li>
            <li>Playing strategy and coop games 🎮</li>
        </ul>
    </div>

    <footer>
        <p>©2025 designed and coded by Jennifer Xie 🛠️</p>
    </footer>

</body>
</html>