<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>67250 lab4</title>
    <meta name="author" content="Jennifer Xie">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jennifer Xie's professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Jennifer Xie</h1>
        <nav>
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link" href="cv.html">See My Resume</a>
            <a class="nav-link" href="contact.html">Contact Me</a>
            <a class="nav-link" href="fun.html">What I do for fun</a>
        </nav>
    </header>
    
    <div class = "main">
        <h2>Contact Me</h2>
        <form id="contactForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <span class="error-message" id="nameError"></span><br><br>
        
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <span class="error-message" id="emailError"></span><br><br>
        
            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment" rows="4" required></textarea>
            <span class="error-message" id="commentError"></span><br><br>
        
            <input type="submit" id="submit_button" value="Submit">
            <p id="formError" class="form-error"></p>
        </form>

        <h3>My Contact Information</h3>
        <table border="1">
            <tr>
                <th>Method</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>jiayixie@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/jennifer-xie-b14a83297" target="_blank">www.linkedin.com/in/jennifer-xie-b14a83297</a></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>(+1)412-628-0224</td>
            </tr>
        </table>
    </div>

    <footer>
        <p id="copyYear"></p>
        <p>designed and coded by Jennifer Xie 🛠️</p>
    </footer>

</body>
</html>